/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.shadow-bottom {
		box-shadow: 0 3px 6px 2px var(--box-shadow);
	}
	.shadow-top {
		box-shadow: 0 -3px 6px 2px var(--box-shadow);
	}
	.backdrop {
		background-image: linear-gradient(to right, var(--linear-from) 150px, var(--linear-to) 100%);
	}
	.neumorph {
		box-shadow: -5px -5px 10px 0 var(--color-shadow-1), 5px 5px 10px 0 var(--color-shadow-2);
	}
	.neumorphhover {
		box-shadow: inset -5px -5px 10px 0 var(--color-shadow-3),
			inset 5px 5px 10px 0 var(--color-shadow-4);
	}

	.morph {
		@apply neumorph  hover:neumorphhover;
	}
	.morph-group {
		@apply neumorph group-hover:neumorphhover;
	}
	.btn {
		@apply inline-flex items-center rounded-full border-none bg-skin-base text-skin-base hover:text-skin-selected;
	}
	.btn-fill {
		@apply fill-base hover:fill-selected;
	}
	.btn-group-fill {
		@apply fill-base group-hover:fill-selected group-hover:text-skin-selected;
	}
}

@layer base {
	.light {
		--color-text-base: #379696;
		--color-text-header: #0f0;
		--color-text-secondary: #000;
		--color-text-inverted: #4f4949;
		--color-text-muted-inverted: #521111;
		--color-text-selected: #090dfa;
		--color-bg: rgb(197, 197, 197);
		--color-base: rgb(214, 214, 214);
		--color-header: #00f;
		--color-primary: #e3e3f1;
		--color-secondary: #a8b0b7;
		--color-tertiary: #80a9c8;
		--color-border: #d9d4cf;
		--color-shadow-bg: #e7e7f5;
		--color-shadow-1: rgba(255, 255, 255, 0.6);
		--color-shadow-2: rgba(0, 0, 0, 0.4);
		--color-shadow-3: rgba(255, 255, 255, 0.8);
		--color-shadow-4: rgba(0, 0, 0, 0.4);
		--linear-from: rgb(141, 151, 157);
		--linear-to: rgb(214, 214, 214, 0.47);
		--box-shadow: #bbb;
	}

	.dark {
		--color-text-base: #08e3bd;
		--color-text-secondary: #fff;
		--color-text-muted: #ffffff;
		--color-text-inverted: #ececec;
		--color-text-muted-inverted: #616161;
		--color-text-selected: #eae717;
		--color-bg: #282828;
		--color-base: #3f3f3f;
		--color-header: #00f;
		--color-primary: #515151;
		--color-secondary: #3a3a3a;
		--color-tertiary: #1c1c1c;
		--color-border: #1d536d;
		--color-shadow-bg: #515151;
		--color-shadow-1: rgba(255, 255, 255, 0.1);
		--color-shadow-2: rgba(0, 0, 0, 0.7);
		--color-shadow-3: rgba(83, 76, 75, 0.67);
		--color-shadow-4: rgba(0, 0, 0, 0.7);
		--linear-from: rgb(29, 23, 23);
		--linear-to: rgba(139, 145, 149, 0.84);
		--box-shadow: rgb(21, 5, 5);
	}

	.blood {
		--color-text-base: #d6d3e2;
		--color-text-secondary: #fff;
		--color-text-muted: #ffffff;
		--color-text-inverted: #ececec;
		--color-text-muted-inverted: #616161;
		--color-text-selected: #eae717;
		--color-bg: #000;
		--color-base: #970707;
		--color-header: #00f;
		--color-primary: #b91313;
		--color-secondary: #3a3a3a;
		--color-tertiary: #1c1c1c;
		--color-border: #1d536d;
		--color-shadow-bg: #515151;
		--color-shadow-1: rgba(255, 255, 255, 0.1);
		--color-shadow-2: rgba(0, 0, 0, 0.7);
		--color-shadow-3: rgba(83, 76, 75, 0.67);
		--color-shadow-4: rgba(0, 0, 0, 0.7);
		--linear-from: rgb(113, 18, 18);
		--linear-to: rgba(223, 8, 28, 0.84);
		--box-shadow: rgb(21, 5, 5);
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		src: url('/fonts/poppins/Poppins-Regular.ttf');
		src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
		font-display: swap;
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}
	p {
		@apply text-xs;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
	}
	body {
		@apply mx-auto;
		@apply bg-skin-bg;
	}
}

html {
	overflow-y: scroll;
}

.root {
	display: flex;
	flex-direction: column;
}
